
$color-primary-dark: #0D47A1;
$color-primary-medium: #2196F3;
$color-primary-light: #90CAF9;

$color-secondary-light: #ff81b3;
$color-secondary-medium: #bb2b64;
$color-secondary-dark: #a10d47;

$color-tertiary-light: #62e50e;
$color-tertiary-medium: #54c50b;
$color-tertiary-dark: #47a10d;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;